# Ignore all compiled .o file
*.o

# Ignore all compiled .d file
*.d

# Ignore all compiled .lo file
*.lo

# Ignore all compiled .a file
*.a

# Ignore all compiled .exe file
*.exe

# Ignore all compiled .tar.gz file
*.tar.gz

# Ignore all compiled executables
app
./src/main.exe
./src/build/*

# Ignore folder
libstrophe/
libexpat/
obj/
lib/
